<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      We are committed to delivering innovative solutions that simplify lives and improve digital experiences.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Our team consists of passionate developers, designers, and innovators working together to build meaningful products.
      <ion-img src="https://via.placeholder.com/300x150?text=Team+Photo" alt="Team Photo" class="ion-padding-top"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Email: <a href="mailto:contact&#64;yourcompany.com">contact&#64;yourcompany.com</a><br>
      Phone: (123) 456-7890
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Follow Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label><a href="https://facebook.com/yourpage" target="_blank">Facebook</a></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          <ion-label><a href="https://twitter.com/yourhandle" target="_blank">Twitter</a></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          <ion-label><a href="https://instagram.com/yourprofile" target="_blank">Instagram</a></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
