#map {
    width: 100%;
    height: calc(100vh - 60px); /* Adjust height based on toolbar */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 5px solid #0011ff; /* Add border */
    border-radius: 10px; /* Optional: Add rounded corners */
  }
  
  .refresh-button {
    position: absolute;
    bottom: 70px; /* Adjust this value depending on your button's size */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  ion-fab {
    z-index: 10;
  }
  